

:root{
    --crl-green: hsl(75, 94%, 57%);
    --crl-grey: hsl(0, 0%, 20%);
    --crl-darkGrey: hsl(0, 0%, 12%);
    --crl-offBlack: hsl(0, 0%, 8%);
    --font-inter: "Inter", sans-serif;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: var(--crl-offBlack);
    font-family: var(--font-inter);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    /* outline: solid 2px red; */
    background-color: var(--crl-darkGrey);
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    max-width: 390px;
}

img{
    border-radius: 100px;
    width: 25%;
    margin-top: 30px;
}

.states{
    color: var(--crl-green);
    font-weight: 600;
    font-size: 14px;
}

.intro{
    margin: 20px;
    font-size: 14px;
}


li{
    background-color: var(--crl-grey);
    font-weight: 600;
    list-style: none;
    padding: 10px;
    margin: 15px;
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
}

li:hover{
    cursor: pointer;
    background-color: var(--crl-green);
    color: var(--crl-darkGrey);
}